<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			 			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

  <beans:bean id="errorHandlerFilter" class="com.sunsea.parkinghere.framework.spring.mvc.ErrorHandlerFilter" />
  <beans:bean id="webContextFilter" class="com.sunsea.parkinghere.framework.web.filter.WebContextFilter" />
  <beans:bean id="httpPutFormContentFilter" class="org.springframework.web.filter.HttpPutFormContentFilter" />
  <beans:bean id="jsonResultableAuthenticationFilter" class="com.sunsea.parkinghere.framework.utils.JSONResultableAuthenticationFilter" />

	<beans:bean id="myBasedAccessInterceptor" class="com.sunsea.parkinghere.framework.spring.mvc.MyHandlerInterceptorAdapter" />   
	<beans:bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">  
		<beans:property name="interceptors">
			<beans:list>
				<beans:ref bean="myBasedAccessInterceptor"/>
			</beans:list>
		</beans:property> 
	</beans:bean>
	

  <http security="none" pattern="/css/**" />
  <http security="none" pattern="/js/**" />
  <http security="none" pattern="/images/**" />
  <http security="none" pattern="/login" />

 
  <http auto-config="true" servlet-api-provision="true" authentication-manager-ref="authenticationManager">
    <access-denied-handler ref="accessDeniedHandler" />

    <intercept-url pattern="/dashboard/**" access="ROLE_USER,ROLE_MANAGER,ROLE_ADMIN" />
    <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

    <custom-filter ref="jsonResultableAuthenticationFilter" before="FORM_LOGIN_FILTER" />

    <form-login login-page="/login" always-use-default-target="true" login-processing-url="/j_spring_security_check"
      authentication-success-handler-ref="authenticationSuccessHandler" authentication-failure-url="/login?login_error=true" />

    <logout logout-url="/j_spring_security_logout" />

    <anonymous />
  </http>

  <beans:bean id="httpSessionSecurityContextRepository" class='org.springframework.security.web.context.HttpSessionSecurityContextRepository'>
    <beans:property name='allowSessionCreation' value='true' />
  </beans:bean>


  <beans:bean id="authenticationSuccessHandler" class="com.sunsea.parkinghere.adapter.spring.security.AuthenticationSuccessHandler">
    <beans:property name="defaultTargetUrl" value="/dashboard" />
  </beans:bean>

  <beans:bean id="accessDeniedHandler" class="com.sunsea.parkinghere.adapter.spring.security.AccessDeniedHandlerImpl">
    <beans:property name="errorPage" value="/WEB-INF/pages/error.jsp" />
  </beans:bean>

  <authentication-manager id="authenticationManager">
    <authentication-provider ref="authenticationProvider" />
  </authentication-manager>

  <authentication-manager id="appAuthenticationManager">
    <authentication-provider ref="appAuthenticationProvider" />
  </authentication-manager>


  <beans:bean id="authenticationProvider" class="com.sunsea.parkinghere.adapter.spring.security.SecurityAuthenticationProvider">
    <beans:property name="userDetailsService" ref="userDetailsService" />
    <beans:property name="saltSource" ref="saltSource" />
  </beans:bean>

  <beans:bean id="appAuthenticationProvider" class="com.sunsea.parkinghere.adapter.spring.security.AppSecurityAuthenticationProvider">
    <beans:property name="userDetailsService" ref="appUserDetailsService" />
    <beans:property name="saltSource" ref="saltSource" />
  </beans:bean>


  <beans:bean id="userDetailsService" class="com.sunsea.parkinghere.adapter.spring.security.UserDetailsServiceImpl" />

  <beans:bean id="appUserDetailsService" class="com.sunsea.parkinghere.adapter.spring.security.AppUserDetailsServiceImpl" />

  <beans:bean id="saltSource" class="com.sunsea.parkinghere.adapter.spring.security.UserSaltSourceImpl" />

  <beans:bean id="localeResolver" class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />
</beans:beans>
